@charset "utf-8";
/*** The new CSS Reset - version 1.0.0 (last updated 8.7.2021) ***/

/* ブラウザのUAスタイルシートのすべてのスタイルを削除します、displayは除く */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }

  /* box-sizingの優先値 */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* リストのスタイル（箇条書き・番号）を削除します */
  ol,
  ul {
    list-style: none;
  }

  /* 画像がコンテナを超えないようにするため */
  img {
    max-width: 100%;
  }

  /* テーブルのセル間のスペースを削除します */
  table {
    border-collapse: collapse;
  }

  * {
    margin: 0;
    padding: 0;
  }

/* ===================リセットここまで =========================*/
body{
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    color: #0F447C;
    font-weight: bold;
}

.mv{
    width: 100%;
    height: 700px;
    background-image: url(img-u/22198760_s.jpg);
    background-size: cover;
    position: relative;
}
.mv-logo{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    z-index: 5;
    font-size: 50px;
}
/* ========= イントロ  sc1 =========== */
.sc1{
    width: 100%;
    /* height: 600px; */
    background-color: #FAF3E5;
    padding: 90px 0;
}
.sc1_wrap{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
/* タイトル */
.sc1_h2{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 6px;
    display: inline-block;
    text-align: left;
}
.sc1_h2 span{
    background: linear-gradient(transparent 75%, rgb(243, 158, 101) 0%);
    margin-top: 3%;
}
/* サブタイトル */
.sc1_subtitle{
    font-size: 25px;
    padding-top: 25px;
}
.sc1_letter{
    padding-top: 50px;
    text-align: left;
    line-height: 2;
}
/* リンクボタン */
.sc1_btn{
    border-radius: 30px;
    background-color: #181238;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}
/* ========= うどん種類   sc2 ========= */
.sc2{
    width: 100%;
    padding: 80px 0;
}
.sc2_wrap{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.sc2_wrap h2{
font-size: 25px;
}
/* うどんリスト*/
.sc2_ul{
    display: flex;
    justify-content: stretch;
}
.sc2_ul li:nth-of-type(2n)  {
margin: 0 50px;
}
/* うどん毎 li毎  */
.sc2_li_img{
    margin-top: 50px;
    position: relative;
}
.sc2_li_title{
padding: 15px 0;
}
.sc2_li_letter{
font-weight: normal;
text-align: left;
}

/* 画像のエフェクト */
.sc2_effects{
    width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;  /*非表示 */
	/* -webkit-transition:all 0.6s ease; */
	transition:all 0.6s ease;
}
.sc2_eff_text{
    font-size: 50px;
    color: aliceblue;
    text-align: left;
    left: 30px;
    top: 100px;
    position: absolute;
    top:0;
	left:0;
	opacity:0;  /*非表示 */
	/* -webkit-transition:all 0.8s ease; */
	transition:all 0.8s ease;

}
.sc2_ul li:hover .sc2_effects{
    opacity:1;
    padding-left:30px;
}
.sc2_ul li:hover .sc2_eff_text{
    opacity:1;
    padding-left:100px;
}
/* ホバーで浮き上がる */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s; */


    /* ======アクセス sec3 ======= */
.sc3{
    width: 100%;
    /* height: 80px; */
    background-color: #FAF3E5;
    padding: 70px 0;
    text-align: center;
}
.sc3_wrap{
    background-color: #FAF3E5;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}
/* アコーディオン設定 */
/*アコーディオンタイトル*/
.title {
    width: 200px;
    padding: 10px 20px;
    background-color: #DF620E;
    color: white;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    transition: all .5s ease;
}
/*closeというクラスがついたら形状変化*/
.title.close::before{
	transform: rotate(45deg);
}
.title.close::after{
	transform: rotate(-45deg);
}
/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
}
/* ========モデルコース sc4 ========= */
.sc4{
    width: 100%;
    height: 600px;
    /* padding: 70px 0; */
    background-size: cover;
    position: relative;
}
.sc4 img{
    filter: opacity(40%);
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
.sc4_wrap{
    max-width: 1000px;
    padding: 100px 0;
    text-align: center;
    margin: 0 auto;
}
.sc4_wrap h2{
    padding: 30px 0 30px;
    font-size: 25px;
}
.sc4_letter{
    width: 500px;
    padding-top: 50px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
/* リンクボタン */
.sc1_btn{
    border-radius: 30px;
    background-color: #181238;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
}


/*------------------------------
------ハンバーガーメニュー------
-------------------------------*/
/* ハンバーガー起動ボタン */
.openModalBtn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    width: 80px;
    height: 80px;
    background-color: #fff;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    /* padding-top: px; */
}
  /* ハンバーガー中身 */
.open-nav {
    width: 100%;
    height: 1000px;
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;

    background-color:white;
    text-align: center;
}
/* この下ただの装飾です↓ */
.open-nav dt,
.open-nav dd {
    font-size: 20px;
    height: 100px;
    border: 1px black solid;
    /* border-collapse: collapse; */
    text-align: center;
    /* vertical-align: middle; */
}
